<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 10 10"
    style="enable-background:new 0 0 10 10;" xml:space="preserve">
    <g>
      <path d="M7.6,4.2V2.5C7.6,2.2,7.4,2,7.1,2H0.8C0.5,2,0.2,2.2,0.2,2.5v5C0.2,7.8,0.5,8,0.8,8h6.3
	c0.3,0,0.5-0.2,0.5-0.5V5.8l2.1,2V2.2L7.6,4.2z" />
    </g>
  </svg>
</template>

<script>
export default {
  name: "typeVideo"
};
</script>

<style scoped>
g {
    fill: currentColor !important;
}
</style>