<template>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 713.29 250">
    <path d="M358.88,12.35c18.92,0,35,9.39,35,29.21,0,9.54-5.52,17.58-15.5,21.46,12.67,3.57,18.77,15.19,18.77,24.88,0,22.2-18.62,28.76-38.29,28.76h-45.57V12.35h45.59Zm-32.63,44.85h33.23c12.51,0,21.6-4.61,21.6-15.49,0-11.62-9.38-17.58-22.2-17.58h-32.63V57.2Zm0,47.24h32.63c10.88,0,25.33-2.83,25.33-17-.15-13.1-13.41-18.44-24.73-18.44h-33.23v35.44Zm151.09,.45c-7.45,8.79-20.27,13.11-31.74,13.11-22.8,0-38.74-15-38.74-38.44,0-22.21,15.94-38.15,38.14-38.15s39.64,13.86,36.81,43.21h-62.58c1.34,13.56,12.51,22,26.67,22,8.34,0,18.47-3.27,23.39-9.23l8.2,7.45-.15,.05Zm-7.16-30.4c-.59-14.31-10.43-22-24.88-22-12.81,0-24,7.74-26.07,21.9h50.95v.1Zm22.89-31.59h11.17l.6,11.77c5.74-8.18,15.17-12.98,25.16-12.81,18.63,0,32.34,12.51,32.34,34.12v40.68h-12.2v-40.53c0-14.16-8.35-22.95-22.35-22.95-13.41,.15-22.65,10.73-22.65,24v39.49h-12.07V42.9Zm144.36,74.1l-.29-13.42c-5.82,10.14-17,14.91-27.12,14.91-21.16,0-37.7-14.61-37.7-38.6s16.84-38.14,37.85-38c11,0,21.9,5.06,27.26,14.6l.15-13.41h11.92V116.69h-11.77l-.3,.31Zm-26.82-63.52c-14.6,0-26.37,10.43-26.37,26.82s11.77,27,26.37,27c35.47,0,35.47-53.94,.15-53.94l-.15,.12Zm62-10.58l.89,11c5.07-9.54,14.16-12.22,22.65-12.22,6.17-.12,12.2,1.82,17.14,5.51l-5.52,10.43c-3.72-2.69-8.22-4.09-12.81-4-11.77,.15-21.61,8.49-21.61,22.05v41h-12.22V43.05h11.33l.15-.15Zm-350.24,88.65l63.93,79.87v-79.87h12.81v104.31h-8.94l-64.07-79.57v79.57h-12.81v-104.31h9.08Zm158.39,92.54c-7.44,8.79-20.26,13.11-31.73,13.11-22.8,0-38.74-15-38.74-38.44,0-22.21,15.94-38.15,38.14-38.15s39.64,13.86,36.81,43.21h-62.59c1.34,13.56,12.52,22.06,26.67,22.06,8.35,0,18.48-3.28,23.4-9.24l8.19,7.45h-.15Zm-7.15-30.4c-.59-14.3-10.43-22.05-24.88-22.05-12.82,0-24,7.75-26.08,21.9h51l-.04,.15Zm30.1-31.44l19.82,60.65,19.52-60.65h10l19.52,60.65,19.82-60.65h13.41l-25.8,73.75h-14l-10-27.42-7.9-26.82-8,26.82-10,27.42h-13.87l-26.08-73.76h13.56Zm159.88,16.4c-6.41-5.81-13.11-7.15-20.71-7.15-10.13-.15-18.33,3.43-18.18,10.73,.15,7.6,9.09,9.83,18.33,10.87,13.41,1.64,31.29,4.32,31,22.5-.3,14.75-14.3,22.06-30.84,22.06-12.37,0-24.59-3.43-32.93-13.86l7-8.49c6.56,8,17.14,11.32,26.23,11.32,8,0,18.32-2.53,18.62-11.47,.15-8.05-8.49-10.43-19.82-11.78-14.15-1.78-29.35-5.51-29.35-21.15s15.65-21.76,29.8-21.61c11,0,20.12,2.68,28,9.83l-7,8.05-.15,.15Z" style="fill:#153064;" />
    <circle id="b" cx="125" cy="125" r="125" style="fill:gold;" />
    <path d="M242,83.36c-20.67-11.92-45.62-13.85-67.88-5.27l-.29,.11c-20.29,7.85-36.44,23.71-44.66,43.85,11.63-10.86,27.89-15.25,43.4-11.72,.03,0,.06,.02,.09,.02-4.04,5.08-7.65,10.49-10.79,16.16l-32.79-4.12h-.22l-30.42-3.83-5.31-.66c-11.87-1.1-23.84,.51-35,4.71l-.61,.23c-22.29,8.53-39.53,26.67-46.93,49.36,20.58-21.8,51.69-30.15,80.42-21.56,1.42,.4,2.83,.89,4.22,1.4,9.11,2.66,18.7,3.21,28.05,1.6,8.02-1.39,15.69-4.32,22.61-8.61,7.35-4.58,13.65-10.65,18.53-17.8,9.76-6.33,20.31-9.69,31.52-12.54h.07c-4.82-2.86-13.13-5.01-18.38-6.45,16.5-17.62,40.18-26.85,64.38-24.89Z" style="fill:#153064;" />
</svg>
</template>

<script>
export default {
    name: "logo"
};
</script>

<style scoped>
g {
    stroke: currentColor !important;
    fill: currentColor !important;
}
</style>
