:root {
    --v-theme-font: 'NotoSansThai', 'LibreFranklin', sans-serif;
    --v-theme-font-size: 18px;
    --v-theme-line-height: 1.444;
    --v-theme-title-font-size:18px;
    --v-theme-title-line-height: 1.222;
    --v-theme-title-featured-font-size: 30px;
    --v-theme-title-featured-line-height: 1.2;
    --v-theme-description-font-size: 14px;
    --v-theme-description-featured-line-height: 1.429;
    --v-theme-date-font-size: 12px;
    --v-theme-currentlyPlaying-font-size: 12px;
}

.featuredHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-featured-font-size);
    font-weight: 700;
    line-height: var(--v-theme-title-featured-line-height);
    padding-top: 6px;
}

.featuredDescription {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-font-size);
    font-weight: 300;
    line-height: var(--v-theme-description-featured-line-height);
}

.smallHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-font-size);
    font-weight: 700;
    line-height: var(--v-theme-title-line-height);
    padding-top: 3px;
}

.date, .feedTitle, .topic {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-date-font-size);
    line-height: 1.5;
}

.storyText {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-font-size-scaled);
    line-height: var(--v-theme-line-height-scaled);
}

.topic {
    font-weight: 700;
}

.topicTitle {
    font-family: var(--v-theme-font);
    font-size: 20px;
    line-height: 1;
    padding-top: 7px
}
.smallHeadline2lines {
    max-height: calc(2 * var(--v-theme-title-line-height-px) + 3px);
}
.currentlyPlayingTitle {
    font-size: var(--v-theme-title-font-size);
}